{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
    <h1><a href="{% url 'home' %}"><img src="{% static 'logo.png' %}"></a></h1>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <form action="{% url 'contas:logout' %}" method="post" class="logout-link">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
            <li><a href="#" class="highlight">New Article</a></li>
            {% else %}
            <li><a href="{% url 'contas:login' %}">Login</a></li>
            <li><a href="{% url 'contas:signup' %}">Signup</a></li>
            {% endif %}
        </ul>
    </nav>
    </header>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'slugify.js' %}"></script>

</body>
</html>