{% extends 'resultados/base.html' %}
{% load static %}

{% block head_style %}
{{ block.super }}
<style>
    input.nav-link {
        text-decoration: none;
        background-color: transparent;
        border: none;
    }
</style>
{% endblock %}

{% block toolbar_title %}Importar Resultados{% endblock toolbar_title %}


{% block toolbar_buttons %}
<div class="btn-group mr-2">
    <a href="http://www1.caixa.gov.br/loterias/_arquivos/loterias/D_lotfac.zip" class="btn btn-sm btn-outline-secondary">Download</a>
    <a href="#" class="btn btn-sm btn-outline-secondary">Último Concurso: 1234</a>
</div>
{% endblock toolbar_buttons%}


{% block main %}
<div>
    <form class="form-inline" action="{% url 'resultados:importar' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="id_file" name="file"
                    aria-describedby="inputGroupFileAddon04">
                <label class="custom-file-label" for="id_file">Selecionar um arquivo</label>
            </div>
        </div>
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">Enviar</button>
        </div>
    </form>
    <div>
        <a href="http://www1.caixa.gov.br/loterias/_arquivos/loterias/D_lotfac.zip">Download</a>
    </div>
</div>

{% endblock %}